name: "Upload Test Results"

on:
  workflow_run:
    workflows: ["Build"]
    types:
      - completed

jobs:
  upload:
    uses: xpdustry/.github/.github/workflows/upload-test-results.yaml@master
    secrets: "inherit"
